@import '../../styles/global';

.home-default-page {
  text-align: center;
  .app {
    text-align: center;
  }

  .app-logo {
    animation: app-logo-spin infinite 10s linear;
    height: 80px;
  }

  .rekit-logo {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.08;
    height: 190px;
  }

  .app-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    overflow: hidden;
    position: relative;
  }

  .app-title {
    font-size: 1.5em;
  }

  .app-intro {
    font-size: large;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    margin-top: 20px;
  }
  li {
    margin-top: 10px;
  }

  a {
    color: #0288d1;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  p.memo {
    width: 500px;
    color: #999;
    font-size: 12px;
    line-height: 150%;
    margin: auto;
  }

  @keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.modal {
  background-color: $white;
  border-radius: 10px;
  margin: 20px auto;
  max-width: $modal-width;
  padding: 20px;
  width: 100%;
  outline: none;
}
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.tab-list {
  color: $white;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  .tab {
    background-color: $grey4;
    border-radius: 0;
    cursor: pointer;
    flex: 1;
    padding: 15px 0;
    text-align: center;
    &.selected-tab {
      background-color: $primary-red;
    }
  }
}
